{% extends 'base.html' %}
{% load static %}

{% block body %}
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Number</th>
              <th scope="col">Whatsapp</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
          {% for contato in contato %}
            <tr>
              <th scope="row">{{contato.id}}</th>
              <td>{{contato}}</td>
              <td>{{contato.number}}</td>
              <td><a href="https://api.whatsapp.com/send?phone={{ contato.number }}&text=Hello!"><img src="{% static 'img/iconfinder_whatsapp.png' %}"></a></td>
                <td><a class="btn btn-outline-danger" href="{% url 'contatodelete' contato.id %}">Delete</a></td>
            </tr>
          {% endfor %}

          </tbody>

        </table>
        <a href="{% url 'contatocriar' %}"><button type="button" class="btn btn-primary table">Create new contact</button></a>


{% endblock %}